<body>
    <head>
        <title>ReproMon Home</title>
        <link rel="STYLESHEET" href="static/css/main.css" type="text/css">
    </head>
<body>
    <h3>ReproMon Home</h3>
    <table>
        <tr>
            <td>
                <img src="static/img/repronim.png"/>
            </td>
            <td>
                <img src="static/img/con.png"/>
            </td>
        </tr>
        <tr>
            <td><a href="/current_user">/current_user</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/admin">/admin</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/test">/test</a></td>
            <td></td>
        </tr>
    </table>
</body>
</html>
