<body>
    <head>
        <title>ReproMon Home</title>
    </head>
<body>
    <h3>ReproMon Home</h3>
    <table>
        <tr>
            <td>
                <img src="static/repronim.png"/>
            </td>
            <td>
                <img src="static/con.png"/>
            </td>
        </tr>
        <tr>
            <td><a href="/admin">/admin</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/test">/test</a></td>
            <td></td>
        </tr>
    </table>
</body>
</html>
