<div
    [class.header]="pushListenerService.isConnected"
    [class.header-error]="!pushListenerService.isConnected"
    style="display: flex; justify-content: space-between;"
>
  <div>
    <p>&nbsp;&nbsp;<b>ReproMon: </b>{{ screenName }}</p>
  </div>
  <div style="display: table;">
    <div style="vertical-align: middle; display: table-cell; width: 110pt;">
      {{ currentTime | date: 'yyyy/MM/dd HH:mm:ss' }}&nbsp;
    </div>
    <div style="vertical-align: middle; display: table-cell;">
      <b>{{ currentUser?.first_name }} {{ currentUser?.last_name }}</b>&nbsp;&nbsp;
    </div>
  </div>
</div>

