.header {
  color: white;
  background-color: darkcyan;
}

.header-error {
  color: white;
  background-color: darkred;
}

.header-not-logged-in {
  color: white;
  background-color: dimgray;
}

.l-button {
  padding: 3.5pt 1pt 0pt 1pt;
  color: lightgray !important;
  width: 26pt;
  height: 26pt;
}

.l-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.l-icon {
  /*font-size: 20pt;*/
}
