<body>
    <head>
        <title>ReproMon Test Home</title>
        <link rel="STYLESHEET" href="{{ url_for('static', path='/css/main.css') }}" type="text/css">
    </head>
<body>
    <h3>ReproMon Test Home</h3>
    <table>
        <tr>
            <td>test1</td>
            <td><a href="test1">test1</a></td>
        </tr>
    </table>
</body>
</html>
