<body>
    <head>
        <title>ReproMon Admin Home</title>
    </head>
<body>
    <h3>ReproMon Admin Home</h3>
    <table>
        <tr>
            <td>Config:</td>
            <td><a href="view_config">view_config</a></td>
        </tr>
    </table>
</body>
</html>
