<body>
    <head>
        <title>ReproMon Admin Home</title>
        <link rel="STYLESHEET" href="{{ url_for('static', path='/css/main.css') }}" type="text/css">
    </head>
<body>
    <h3>ReproMon Admin Home</h3>
    <table>
        <tr>
            <td>Config:</td>
            <td><a href="view_config">view_config</a></td>
        </tr>
        <tr>
            <td>Send Feedback Message:</td>
            <td><a href="send_fmessage">send_fmessage</a></td>
        </tr>
        <tr>
            <td>Get Password Hash:</td>
            <td><a href="password_hash">password_hash</a></td>
        </tr>
        <tr>
            <td>Create Access Token:</td>
            <td><a href="create_token">create_token</a></td>
        </tr>
        <tr>
            <td>Get Username By Token:</td>
            <td><a href="username_by_token">username_by_token</a></td>
        </tr>
    </table>
</body>
</html>
