<body>
    <head>
        <title>ReproMon Admin Get Password Hash</title>
        <link rel="STYLESHEET" href="{{ url_for('static', path='/css/main.css') }}" type="text/css">
    </head>
<body>
    <h3>ReproMon Admin Get Password Hash</h3>
    <form method="post" action="password_hash_ctl">
        <input type="hidden" name="action" value="password_hash_ctl"/>
        <table>
            <tr>
                <td>Password:</td>
                <td><input type="text" name="password" value=""/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Get Password Hash" /></td>
            </tr>
        </table>
    </form><br>

</body>
</html>
