<body>
    <head>
        <title>ReproMon Home</title>
        <link rel="STYLESHEET" href="{{ url_for('static', path='/css/main.css') }}" type="text/css">
    </head>
<body>
    <h3>ReproMon Home</h3>
    <table>
        <tr>
            <td>
                <img src="{{ url_for('static', path='/img/repronim.png') }}"/>
            </td>
            <td>
                <img src="{{ url_for('static', path='/img/con.png') }}"/>
            </td>
        </tr>
        <tr>
            <td>GitHub: <a href="https://github.com/ReproNim/repromon">https://github.com/ReproNim/repromon</a></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
        </tr>
        <tr>
            <td>Resources:</td>
            <td></td>
        </tr>
        <tr>
            <td><a href="../docs">OpenAPI docs</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="current_user">current_user</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="feedback_screen?study_id=1">feedback_screen</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="../admin">/admin</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="../test">/test</a></td>
            <td></td>
        </tr>
    </table>
</body>
</html>
