<div class="container">

  <table style="width: 100%; padding: 0px; margin: 0px; padding-bottom: 4px;">
    <tr>
      <td style="text-align: left;">
        <b style="color: red;">Errors:</b> {{ errorCount }},
        <b>Warnings:</b> {{ warnCount }}
        &nbsp;
        <button mat-stroked-button (click)="resetMessages()">Reset</button>
      </td>
      <td style="text-align: right; padding: 0px; margin: 0px;">
        <div style="display: flex; justify-content: flex-end; padding: 0px; margin: 0px;">
          <button mat-stroked-button (click)="clearMessages('*')">Clear All</button>&nbsp;
          <button mat-stroked-button (click)="clearMessages('ERROR')">Clear ERROR</button>&nbsp;
          <button mat-stroked-button (click)="clearMessages('WARN')">Clear WARN</button>&nbsp;
          <button mat-stroked-button (click)="clearMessages('INFO')">Clear INFO</button>&nbsp;
          <button mat-stroked-button (click)="reload()">Reload</button>
        </div>
      </td>
    </tr>
  </table>

  <div #div_dg class="data-grid" (window:resize)="onDataGridResize($event)">
    <mat-table #dg [dataSource]="dataSource" matSort class="mat-elevation-z8 my-table">

      <!-- Column definitions -->
      <ng-container matColumnDef="_index">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header sortActionDescription="Sort by Index">#</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item._index }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header sortActionDescription="Sort by Date">Date</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ formatDate(item.ts) }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header sortActionDescription="Sort by Time">Time</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ formatTime(item.ts) }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="level">
        <mat-header-cell *matHeaderCellDef class="level-cell"
                         mat-sort-header sortActionDescription="Sort by Level">Level</mat-header-cell>
        <mat-cell *matCellDef="let item" class="level-cell"
                  [style.color]="item.level === 'ERROR' ? 'red' : 'inherit'">{{ item.level }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="provider">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header sortActionDescription="Sort by Provider">Provider</mat-header-cell>
        <mat-cell *matCellDef="let item" >{{ item.provider }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header sortActionDescription="Sort by Description">Description</mat-header-cell>
        <mat-cell *matCellDef="let item" >{{ item.description }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               (click)="selectItem(row)"
               [ngClass]="selection.isSelected(row)?'mat-row-selected':'mat-row-normal'"
      >
      </mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="[10, 20, 50, 100]"
      hidePageSize="true"
      showFirstLastButtons
    ></mat-paginator>
  </div>

</div>

