.container {
  padding: 13px;
  height: 100%;
}

.data-grid {
  border: 0px solid #ccc;
  height: calc(100% - 76px);
  width: 100%;
}

.my-table {
  height: calc(100% - 56px) !important;
}

.mat-column-index {
  flex: 0 0 25px;
}

.mat-column-date {
  flex: 0 0 110px;
}

.mat-column-time {
  flex: 0 0 90px;
}

.mat-column-level {
  flex: 0 0 65px;
}

.mat-column-provider {
  flex: 0 0 90px;
}

.mat-column-description {
  width: 100%;
}

.mdc-data-table__row:hover {
  background-color: #eee !important;;
}

.mat-row-selected {
  background-color: #ddd;
}

.mat-row-normal {
  background-color: inherit;
}
